@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat";
}

.home > ul > li {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 13px;
  list-style: none;
  width: 20px;
  display: flex;
  gap: 15px;
  padding: 11px;
}

li:nth-child(2) {
  transition: ease 0.2s;
}

li:nth-child(2):hover {
  color: white;
  cursor: pointer;
}

.logo img {
  width: 70px;
}


.logo {
  padding: 5px;
}

.left {
  position: relative;
  width: 35vw;
/* height: 80vh; */
  left: 0%;
}
.cross{
  position: absolute;
  right: 15px;
  top: 20px;
  display: none;
}


.right {
  min-height: 80vh;
  position: relative;
  min-width: 65vw;
}

.lib {
  display: flex;
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.lib img:nth-child(1) {
  padding: 9px;
  width: 20px;
  transition: ease 0.2s;
}
.library {
  position: relative;
}

.plus {
  display: flex;
  width: 15px;
  padding-left: 18vw;
}

.lib:hover {
  color: white;
  cursor: pointer;
}
.songList {
  height: 65vh;
  overflow: scroll;
  transition: ease all 0.3s;
}
.songList:hover {
  font-size: 1.01rem;
}
.songList > ul {
  list-style: decimal;
  padding: 0px 2px;
  margin-right: 10px;
}
.songList > ul > li {
  position: relative;
  display: flex;
  gap: 5px;
  border: 2px solid #a7a7a7;
  border-radius: 10px;
  margin: 7px;
  padding: 0px 7px;
  cursor: pointer;
  align-items: center;
  transition: all ease 0.4s;
}
.songList > ul > li:hover {
  border: 2px solid white;
  color: white;
}
.info {
  font-size: 12px;
  font-weight: 200;
  transition: all ease 0.4s;
  color: #e0e0e0;
}
.songList > ul > li:hover .info {
  color: white;
  font-weight: 400;
}
.playnow {
  position: absolute;
  right: 0;
  width: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  font-weight: 400;
  padding: 5px;
  transition: all ease 0.4s;
}
.playnow div {
  width: 35px;
}
.space {
  margin-right: 0;
  width: 95px;
  padding: 10px;
}

.footer {
  display: flex;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 9px;
  position: absolute;
  bottom: 5;
  gap: 5px;
  padding: 10px;
}
.footer a {
  color: #9a9a9a;
  text-decoration: none;
}
.header {
  height: 11vh;
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.playlist {
  padding: 20px;
  font-weight: 500;
  font-size: 15px;
}
.playlist a {
  text-decoration: none;
  color: white;
}
.playlist a:hover {
  text-decoration: underline;
}
.card-container {
  margin: 5px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background: linear-gradient(#1e1e1e, #090909);
  max-height: 65vh;
  overflow-y:auto;
  border-radius: 20px;
}
.playlist .card {
  width: 175px;
  padding: 10px;
  margin: 5px;
  transition: ease 0.2s;
  position: relative;
}
.card:hover {
  border-radius: 12px;
  background-color: #1e1e1e;
  cursor: pointer;
}
.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.play {
  position: absolute;
  background-color: #1ed760;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  right: 25px;
  bottom: 25px;
  opacity: 0;
  transition: all 0.3s ease;
}
.card:hover .play {
  opacity: 1;
  bottom: 80px;
  box-shadow: -4px 5px 8px 6px rgba(0, 0, 0, 0.3);
}

.play svg {
  height: 27px;
  width: 27px;
}
.header > * {
  padding: 20px;
}
.buttons > * {
  margin: 0px 12px;
}
.signup {
  background-color: transparent;
  color: #a7a7a7;
  text-decoration: none;
  border: none;
  outline: none;
  font-weight: bolder;
  font-size: 1rem;
  /* padding: 8px 32px 8px 8px; */
}
.signup:hover {
  transform: scale(1.04);
  color: white;
  cursor: pointer;
}
.login {
  border: none;
  outline: none;
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: all ease 0.2s;
}
.login:hover {
  background-color: #f6f6f6;
  font-size: 18px;
}
.playbar {
  display: flex;
  /* justify-content: center; */
  position: fixed;
  bottom: 30px;
  background: #141414;
  border-radius: 10px;
  padding: 12px;
  width: 60vw;
  height: 12vh;
  flex-direction: column;
  
}
.songButtons {
    display: flex;
    justify-content: center;
    gap: 16px;
    filter: invert(1);
    margin-bottom: 10px;
    top: 40%;
    position: absolute;
}
.songButtons>img{
cursor: pointer;}
.seekbar {
  height: 4px;
  width: 98%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  position: absolute;
  bottom: 3vh;
  margin: 6px;
  cursor: pointer;
}
.circle{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    bottom: 6px;
    left: 0%;
    transition:left 0.5s;
}

.songTime{
    position: absolute;
    bottom: 0;
}
.songInfo{
  top: 7px;
    position: absolute;
}
.menu{
  display: none;
}
.volume{
  position: absolute;
  right: 15px;
  top: 30%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.volume input[type='range'] {
-webkit-appearance: none !important;
background:white;
height:5px;
border-radius: 20px;
width: 90px;
cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
-webkit-appearance: none !important;
background:white;
height:15px;
width:15px;
border-radius: 50%;
cursor: pointer;
}

@media (max-width:1025px) {
  body{
    font-size: 15px;
  }
  .left{
    position: absolute;
    left: -700%;
    z-index: 1;
    transition: all ease 0.4s;
    width: 310px;
    background-color: black;
  }
  .right{
    width: 100vw;
    margin: 0;
  }
  .playbar{
    width: 95vw;
    position: fixed;

  }
  .menu{
    display: block;
  }
  .cross{
    display: block;
  }
  .card-container{
    justify-content: center;
    border-radius: 20px;
  }
 .playlist .card{
    width: 70vw;
    font-size: 25px;
  }
  .songInfo{
    top: 7px;
  }
  .container{
    overflow-y: auto;
  }
}